# Created by .ignore support plugin (hsz.mobi)
# User-specific stuff:
.idea/
# IntelliJ
/out/
### Erlang template
*.iml
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
